.presenting {
  text-align: left;
}

.reveal .day-marker {
  position: absolute;
  top: -10rem;
  left: 0;
  right: 0;
  margin-bottom: 2rem;
  padding: .5rem;
  background-color: #333;
  border-radius: 3px;
}

.reveal .day-marker.fragments {
  top: 0;
}

.reveal .day-marker h5 {
  float: left;
  font-size: 80%;
  margin-bottom: 0;
}

.reveal ol {
  margin-bottom: 3rem;
}

.reveal h4.warning {
  padding: 2rem 0;
  color: #212121;
}

.warning .fa {
  padding-left: 1rem;
}

.reveal blockquote {
  text-align: left;
  margin-left: 0;
  margin-right: 0;
}

.reveal blockquote.center {
  margin-left: auto;
  margin-right: auto;
}

.reveal p.small {
  font-size: 1rem;
}

.l-list-media-object {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  width: 100%;
  padding: 0.8rem;
}

.l-list-media-object .figure {
  margin: 0 1rem 3rem 0;
  vertical-align: top;
  max-width: 100px;
}

.l-list-media-object .body {
  flex: 1;
}

.l-list-media-object .body .header.link {
  text-transform: capitalize;
  text-align: left;
}

.l-list-media-object .body p {
  text-align: left;
  color: white;
}

